html {
  margin: 0;
  padding: 0;
}
html body {
  overflow-x: hidden;
}
html body .header1 {
  display: none;
}
html body .header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
html body .header:after {
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateZ(-1px) scale(2);
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
html body .header #bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/catalog.png') no-repeat;
  background-size: cover;
}
html body .header #bg h1 {
  color: white;
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 214px;
  font-size: 83px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial';
  font-size: 104px;
  color: #ffffff;
}
html body .header #bg small {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-bottom: 317px;
}
html body section {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  justify-content: space-around;
  flex-wrap: wrap;
}
html body section a {
  display: flex;
  text-decoration: none;
}
html body section a .box {
  background: url('../img/w.jpg') no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}
html body section a .box h3 {
  text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  color: #ffffff;
  margin-top: 226px;
}
html body section a .box p {
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  text-transform: uppercase;
  color: #ff0000;
}
html body section a .box:hover {
  box-shadow: 3px 2px 9px 6px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 3px 2px 9px 6px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 3px 2px 9px 6px rgba(0, 0, 0, 0.37);
  transition: 1s;
}
html body section a .box1 {
  background: url('../img/m.png') no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
}
html body section a .box1 h3 {
  text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  color: #ffffff;
  margin-top: 226px;
}
html body section a .box1 p {
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  text-transform: uppercase;
  color: #ff0000;
}
html body section a .box1:hover {
  box-shadow: 3px 2px 9px 6px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 3px 2px 9px 6px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 3px 2px 9px 6px rgba(0, 0, 0, 0.37);
  transition: 1s;
}
html body .banner {
  background: url('../img/rekl.png') no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
html body .banner .wrapped {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
}
html body .banner .wrapped h2 {
  margin-top: 112px;
  color: white;
  justify-content: center;
  border-bottom: 20px;
  width: 100%;
  height: 100px;
  padding: 50px 0;
  text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
}
html body .banner .wrapped a {
  width: 100%;
  margin: 0 auto;
  display: block;
  width: 293px;
  height: 72px;
  padding: 27px 39px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 10px;
  background: black;
  color: white;
  font-family: 'Roboto';
  font-size: 14px;
}
html body .banner .wrapped a:hover {
  box-shadow: 6px 2px 8px 3px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 6px 2px 8px 3px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 6px 2px 8px 3px rgba(0, 0, 0, 0.36);
  color: pink;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html body .footer {
    display: none;
  }
  html body .header #bg {
    background-position: bottom;
  }
  html body section a {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 610px) {
  html body .footer {
    display: none;
  }
  html body .metka {
    display: none;
  }
  html body .header1 {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  html body .header1 #bgq {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c7b9b6;
    background-size: cover;
  }
  html body .header1 #bgq h1 {
    color: white;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin-top: 214px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Arial';
    font-size: 50px;
    color: #ffffff;
  }
  html body .header1 #bgq small {
    font-family: 'Roboto';
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-bottom: 317px;
  }
  html body .header {
    display: none;
  }
  html body .header #bg {
    display: none;
  }
  html body section a {
    margin-bottom: 45px;
  }
  html body section a .box1 {
    width: 337px;
  }
  html body section a .box {
    width: 337px;
  }
  html body .banner .wrapped h2 {
    font-size: 24px;
  }
}
